<!-- <a href="https://www.hackthebox.eu/home/users/profile/180953" id="htb-badge"><center><script src="https://www.hackthebox.eu/badge/180953"></script></center></a><br> -->
<div style="text-align: center;">
  <a href="https://app.hackthebox.com/profile/180953" id="htb-badge" target="_blank" rel="noopener noreferrer">
    <img src="https://www.hackthebox.com/badge/image/180953" alt="My Hack The Box Profile">
  </a>
</div><br>
<i><a href="https://www.twitter.com/{{ site.footer-links.twitter }}">Twitter</a> | <a href="https://www.reddit.com/user/{{ site.footer-links.reddit }}">Reddit</a></i>