<!-- <a href="https://www.hackthebox.eu/home/users/profile/180953" id="htb-badge"><center><script src="https://www.hackthebox.eu/badge/180953"></script></center></a><br> -->
<div style="text-align: center;">
  <a href="https://profile.hackthebox.com/profile/019fc7af-60d1-7042-9ec0-a1d3889253d0" id="htb-badge" target="_blank" rel="noopener noreferrer">
    <img src="https://www.hackthebox.com/badge/image/180953" alt="My Hack The Box Profile">
  </a>
</div>
<i><a href="https://x.com/{{ site.footer-links.twitter }}" target="_blank" rel="noopener noreferrer">Twitter</a> | <a href="https://github.com/{{ site.footer-links.github }}" target="_blank" rel="noopener noreferrer">GitHub</a> | <a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}/" target="_blank" rel="noopener noreferrer">LinkedIn</a></i>