<!-- Special thanks to https://derekkedziora.com/blog/dark-mode-revisited -->

<script>

let htheme = sessionStorage.getItem('theme');

function switchToLight() {
	document.getElementById("site-name").innerHTML = "<a href='{{ site.baseurl }}/'>yakuhito's blog</a>";
	document.documentElement.setAttribute('data-theme', 'light');
	sessionStorage.setItem('theme', 'light');
	document.getElementById("theme-toggle").innerHTML = "Theme: Hooloovoo";
}

function switchToDark() {
	document.getElementById("site-name").innerHTML = "<a href='{{ site.baseurl }}/'>y@kuhi.to$ ./blog</a>";
	document.documentElement.setAttribute('data-theme', 'dark');
	sessionStorage.setItem('theme', 'dark');
	document.getElementById("theme-toggle").innerHTML = "Theme: 31337";
}

if (htheme === "dark") {
	switchToDark();	
} else if (htheme === "light") {
	switchToLight();
}
</script>